* {
    margin: 0;
    padding: 0;
}

.form {
    margin: 50px 200px;
    background-color: rgb(240, 230, 176);
    text-align: center;
    border: 2px solid grey;
}

header {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
}

header>p {
    text-align: left;
    margin-top: 30px;
    font-size: 23px;
}

.personal_details {
    text-align: left;
    padding: 30px;
}

.personal_details>h2 {
    padding: 20px 0;
    font-size: 35px;
}

.personal_details>p {
    padding: 7px 0;
    font-size: 23px;
}

input {
    font-size: 15px;
    padding: 3px;
}

.special {
    margin-right: 5px;
}

input[type=radio] {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}